<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Magic</title>
    <style>
      body {
        background-color: #010101;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h2 {
        font-size: 64px;
        animation: animation 2s infinite;
      }
      @keyframes animation {
        0% {
          color: #ff0000;
        }
        50% {
          color: #00ff00;
        }
        100% {
          color: #0000ff;
        }
      }
    </style>
  </head>
  <body>
    <h2>Color Magic</h2>
  </body>
</html>
