<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: gray;
      }
      .logos {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
      }
      .logos img {
        width: 25%;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
      }
    </style>
  </head>
  <body>
    <div class="logos">
      <img src="../img/404-template.png" alt="404 Template" />
      <img src="../img/logo.png" alt="Logo" />
      <img src="../img/20240819_234335.jpg" alt="Image 1" />
      <img
        src="../img/Screenshot from 2025-02-08 10-18-35.png"
        alt="Screenshot"
      />
    </div>
  </body>
</html>
